/*------------------------------------*\
  # Variables
\*------------------------------------*/
/* --- Media Breakpoints --- */
$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1920px;

/* --- Colors --- */
$black: #000000;
$black-text: #292929;
$blue-scw: #006BB6;
$blue-konqui: #1D99F3;
$red-bower: #EF5734;
$white: #FFFFFF;
$yellow-scw: #FFC420;